<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy8LtKSC1haMp2__afxiW1IPIvInE8Kh0</string>
	<key>GCM_SENDER_ID</key>
	<string>144240366622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wwwwwopq8e90d8cg.MessengerUIKit2024</string>
	<key>PROJECT_ID</key>
	<string>messengeruikit2024</string>
	<key>STORAGE_BUCKET</key>
	<string>messengeruikit2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144240366622:ios:f5e8e280a0d6d60bfaca0f</string>
</dict>
</plist>